@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Martel+Sans:wght@300;400;600;700;800;900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "tailwindcss";

*{
    font-family: Outfit;
}

@theme{
    --bg-primary : #5f6FFF;
    --grid-cols-auto: repeat(auto-fill, minmax(200px, 1fr));
}

@layer utilities {
  .grid-cols-auto {
    grid-template-columns: var(--grid-cols-auto);
  }
}

@layer components{
    .bg-primary{
        @apply bg-(--bg-primary)
    }

    .text-primary{
        @apply text-(--bg-primary)
    }
}

button{
    cursor: pointer
}

.active hr{
    @apply block;
}

::-webkit-scrollbar{
    @apply hidden
}

@media (max-width : 740px) {
    .active p{
        @apply text-white bg-[#5f6FFF]
    }
}